interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/f6d2b7c66372236a090a2a74df2e47f42a54456b/diff?per_page=100
  response:
    body: {string: '[{"diff":"@@ -1,2 +1,4 @@\n # test\n a test repo\n+\n+a commiit
        that can one acknowledge\n","new_path":"README.md","old_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"too_large":false}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"32cf2c2744cda352ee5a6626a1606b3d"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/f6d2b7c66372236a090a2a74df2e47f42a54456b?per_page=100
  response:
    body: {string: '{"id":"f6d2b7c66372236a090a2a74df2e47f42a54456b","short_id":"f6d2b7c6","title":"Update
        README.md","created_at":"2016-01-24T20:46:59.000+01:00","parent_ids":["674498fd415cfadc35c5eb28b8951e800f357c6f"],"message":"Update
        README.md","author_name":"gitmate-test-user","author_email":"hostmaster@gitmate.io","authored_date":"2016-01-24T20:46:59.000+01:00","committer_name":"gitmate-test-user","committer_email":"hostmaster@gitmate.io","committed_date":"2016-01-24T20:46:59.000+01:00","stats":{"additions":2,"deletions":0,"total":2},"status":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a3e5ec9d02534a24454bd5ec90ecd0b2"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25?per_page=100
  response:
    body: {string: '{"id":4445169,"iid":25,"project_id":3439658,"title":"Create a.txt","description":"Awesome
        commit message\n\nFix #21, Fixes #22 and Closes gitmate-test-user/test#23.\nThis
        commit is also related to #31 and fixes #26, #27\nand https://gitlab.com/gitmate-test-user/test/issues/30.","state":"opened","created_at":"2017-07-28T20:00:27.022Z","updated_at":"2017-08-14T22:07:19.034Z","target_branch":"master","source_branch":"test-issue-pr-relate","upvotes":0,"downvotes":0,"author":{"name":"Naveen
        Kumar Sangi","username":"nkprince007","id":889700,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/25","subscribed":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"4f335cc81ccaf752dc263240cecea8d4"]
    status: {code: 200, message: OK}
[...]
