interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25?per_page=100
  response:
    body: {string: '{"id":4445169,"iid":25,"project_id":3439658,"title":"Create a.txt","description":"Awesome
        commit message\n\nFix #21, Fixes #22 and Closes gitmate-test-user/test#23.\nThis
        commit is also related to #31 and fixes #26, #27\nand https://gitlab.com/gitmate-test-user/test/issues/30.","state":"opened","created_at":"2017-07-28T20:00:27.022Z","updated_at":"2017-08-14T22:07:19.034Z","target_branch":"master","source_branch":"test-issue-pr-relate","upvotes":0,"downvotes":0,"author":{"name":"Naveen
        Kumar Sangi","username":"nkprince007","id":889700,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/25","subscribed":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"4f335cc81ccaf752dc263240cecea8d4"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/3439658?per_page=100
  response:
    body: {string: '{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":2,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-08-30T12:56:13.206Z","_links":{"self":"http://gitlab.com/api/v4/projects/3439658","issues":"http://gitlab.com/api/v4/projects/3439658/issues","merge_requests":"http://gitlab.com/api/v4/projects/3439658/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3439658/repository/branches","labels":"http://gitlab.com/api/v4/projects/3439658/labels","events":"http://gitlab.com/api/v4/projects/3439658/events","members":"http://gitlab.com/api/v4/projects/3439658/members"},"archived":false,"visibility":"public","owner":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1369631,"namespace":{"id":1652018,"name":"gitmate-test-user","path":"gitmate-test-user","kind":"user","full_path":"gitmate-test-user","parent_id":null,"plan":"early_adopter"},"import_status":"failed","import_error":"Mirror
        update for gitmate-test-user/test failed with the following message: The default
        branch (master) has diverged from its upstream counterpart and could not be
        updated automatically.","avatar_url":null,"open_issues_count":12,"runners_token":"mJspL93WBs-yfGkkvpos","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"5cb67e09e0619cb80f8ed1d06eeaeec4"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/f6d2b7c66372236a090a2a74df2e47f42a54456b/diff?per_page=100
  response:
    body: {string: '[{"diff":"--- a/README.md\n+++ b/README.md\n@@ -1,2 +1,4 @@\n
        # test\n a test repo\n+\n+a commiit that can one acknowledge\n","new_path":"README.md","old_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"too_large":false}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"3913a6aa279f551e3f2f1a6a3ece9334"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/f6d2b7c66372236a090a2a74df2e47f42a54456b?per_page=100
  response:
    body: {string: '{"id":"f6d2b7c66372236a090a2a74df2e47f42a54456b","short_id":"f6d2b7c6","title":"Update
        README.md","created_at":"2016-01-24T20:46:59.000+01:00","parent_ids":["674498fd415cfadc35c5eb28b8951e800f357c6f"],"message":"Update
        README.md","author_name":"gitmate-test-user","author_email":"hostmaster@gitmate.io","authored_date":"2016-01-24T20:46:59.000+01:00","committer_name":"gitmate-test-user","committer_email":"hostmaster@gitmate.io","committed_date":"2016-01-24T20:46:59.000+01:00","stats":{"additions":2,"deletions":0,"total":2},"status":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a3e5ec9d02534a24454bd5ec90ecd0b2"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?per_page=100
  response:
    body: {string: '{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","avatar_url":null,"star_count":0,"forks_count":2,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-09-30T12:14:49.016Z","_links":{"self":"http://gitlab.com/api/v4/projects/3439658","issues":"http://gitlab.com/api/v4/projects/3439658/issues","merge_requests":"http://gitlab.com/api/v4/projects/3439658/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3439658/repository/branches","labels":"http://gitlab.com/api/v4/projects/3439658/labels","events":"http://gitlab.com/api/v4/projects/3439658/events","members":"http://gitlab.com/api/v4/projects/3439658/members"},"archived":false,"visibility":"public","owner":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"resolve_outdated_diff_discussions":null,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1369631,"namespace":{"id":1652018,"name":"gitmate-test-user","path":"gitmate-test-user","kind":"user","full_path":"gitmate-test-user","parent_id":null,"plan":"early_adopter"},"import_status":"failed","import_error":"Mirror
        update for gitmate-test-user/test failed with the following message: The default
        branch (master) has diverged from its upstream counterpart and could not be
        updated automatically.","open_issues_count":14,"runners_token":"mJspL93WBs-yfGkkvpos","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8832c44e4e0a5a6096081053dbf11268"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
    status: {code: 200, message: OK}
[...]
