interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/2?User-Agent=IGitt&per_page=100
  response:
    body: {string: '{"id":3757647,"iid":2,"project_id":3439658,"title":"Sils/severalcommits","description":"","state":"reopened","created_at":"2017-06-07T03:51:41.112Z","updated_at":"2017-06-16T08:11:45.849Z","target_branch":"master","source_branch":"sils/severalcommits","upvotes":0,"downvotes":0,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"99f484ae167dcfcc35008ba3b5b564443d425ee0","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/2","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"14bb7651d6074e19b13d5dd3cac49847"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/sils%2Fseveralcommits?User-Agent=IGitt&per_page=100
  response:
    body: {string: '{"id":"99f484ae167dcfcc35008ba3b5b564443d425ee0","short_id":"99f484ae","title":"yet
        another one","created_at":"2016-02-11T18:53:37.000+01:00","parent_ids":["bbd11b50412d34072f1889e4cea04a32de183605"],"message":"yet
        another one\n","author_name":"Lasse Schuirmann","author_email":"lasse.schuirmann@gmail.com","authored_date":"2016-02-11T18:53:37.000+01:00","committer_name":"Lasse
        Schuirmann","committer_email":"lasse.schuirmann@gmail.com","committed_date":"2016-02-11T18:53:37.000+01:00","stats":{"additions":0,"deletions":0,"total":0},"status":"success"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"b2f0089e77f9c4172ede6dbe66f47506"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/99f484ae167dcfcc35008ba3b5b564443d425ee0/statuses?User-Agent=IGitt&per_page=100
  response:
    body: {string: '[{"id":22972119,"sha":"99f484ae167dcfcc35008ba3b5b564443d425ee0","ref":"sils/severalcommits","status":"success","name":"review/gitmate/pr","target_url":"http://gitmate.io/","description":"This
        PR has no issues. :)","created_at":"2017-07-18T08:05:50.984Z","started_at":"2017-07-18T08:05:51.050Z","finished_at":"2017-07-18T08:06:10.617Z","allow_failure":false,"coverage":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}},{"id":22879883,"sha":"99f484ae167dcfcc35008ba3b5b564443d425ee0","ref":"sils/severalcommits","status":"success","name":"GitMate-2
        PR Review","target_url":"http://gitmate.io/","description":"This PR has no
        issues. :)","created_at":"2017-07-17T16:47:46.031Z","started_at":"2017-07-17T16:47:46.104Z","finished_at":"2017-07-17T16:48:13.578Z","allow_failure":false,"coverage":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"90945bcbeeae5c71cac872ea0e321038"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/99f484ae167dcfcc35008ba3b5b564443d425ee0/statuses?User-Agent=IGitt&access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&id=gitmate-test-user%2Ftest&page=1&per_page=100&sha=99f484ae167dcfcc35008ba3b5b564443d425ee0>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/99f484ae167dcfcc35008ba3b5b564443d425ee0/statuses?User-Agent=IGitt&access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&id=gitmate-test-user%2Ftest&page=1&per_page=100&sha=99f484ae167dcfcc35008ba3b5b564443d425ee0>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
