<!DOCTYPE html>

<md-card class="repo_card">
  <md-card-title>full_name: {{repo.full_name}}</md-card-title>
  <md-card-content>provider: {{repo.provider}}</md-card-content>
  <md-card-content>id: {{repo.id}}</md-card-content>
  <md-card-content>active: {{repo.active}}</md-card-content>
  <md-card-content>user: {{repo.user}}</md-card-content>
  <md-card-actions>
    <button md-button *ngIf="!repo.active" (click)="enable()" >ADD</button>
    <button md-button *ngIf="repo.active" (click)="disable()" >REMOVE</button>
    <button md-button>SETTINGS</button>
  </md-card-actions>
  <plugins [repoid]="repo.plugin"></plugins>
</md-card>
