interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?User-Agent=IGitt&per_page=100
  response:
    body: {string: '{"id":3439658,"description":"","default_branch":"master","tag_list":[],"archived":false,"visibility":"public","ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","owner":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-07-19T05:14:35.333Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1369631,"namespace":{"id":1652018,"name":"gitmate-test-user","path":"gitmate-test-user","kind":"user","full_path":"gitmate-test-user","parent_id":null,"plan":null},"import_status":"failed","import_error":"The
        mirror update took too long to complete.","avatar_url":null,"star_count":0,"forks_count":2,"open_issues_count":12,"runners_token":"mJspL93WBs-yfGkkvpos","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"466e33ea98b757d935d1b8c1465f6fbc"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/2?User-Agent=IGitt&per_page=100
  response:
    body: {string: '{"id":5613896,"iid":2,"project_id":3439658,"title":"Don''t assign
        me to anyone!","description":"I wish I stay alone and no one disturbs me.","state":"reopened","created_at":"2017-06-05T06:17:38.486Z","updated_at":"2017-06-06T03:52:24.802Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/2","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"5497a451d4cfeb903d7affc64aa9db62"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/2?User-Agent=IGitt&per_page=100
  response:
    body: {string: '{"id":5613896,"iid":2,"project_id":3439658,"title":"Don''t assign
        me to anyone!","description":"I wish I stay alone and no one disturbs me.","state":"reopened","created_at":"2017-06-05T06:17:38.486Z","updated_at":"2017-06-06T03:52:24.802Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/2","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"5497a451d4cfeb903d7affc64aa9db62"]
    status: {code: 200, message: OK}
version: 1
