interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/21?per_page=100
  response:
    body: {string: '{"id":5658796,"iid":21,"project_id":3439658,"title":"test title","description":"test
        body","state":"opened","created_at":"2017-06-09T06:56:27.838Z","updated_at":"2017-07-29T15:13:43.227Z","labels":[],"milestone":null,"assignees":[],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/21","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"_links":{"self":"http://gitlab.com/api/v4/projects/3439658/issues/21","notes":"http://gitlab.com/api/v4/projects/3439658/issues/21/notes","award_emoji":"http://gitlab.com/api/v4/projects/3439658/issues/21/award_emoji","project":"http://gitlab.com/api/v4/projects/3439658"},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"11caef3a821ff9b8b9addc836a796899"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['4']
      RateLimit-Remaining: ['596']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users/2?per_page=100
  response:
    body: {string: '{"message":"404 User Not Found"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1513847403']
      RateLimit-ResetTime: ['Fri, 21 Dec 2017 09:10:03 GMT']
    status: {code: 404, message: Not Found}
version: 1
