interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/21?User-Agent=IGitt&per_page=100
  response:
    body: {string: '{"id":5658796,"iid":21,"project_id":3439658,"title":"test title","description":"test
        body","state":"opened","created_at":"2017-06-09T06:56:27.838Z","updated_at":"2017-07-29T15:13:43.227Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/21","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"46762303f32a666891542af31ea5eabf"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/21?User-Agent=IGitt&per_page=100
  response:
    body: {string: '{"id":5658796,"iid":21,"project_id":3439658,"title":"test title","description":"test
        body","state":"opened","created_at":"2017-06-09T06:56:27.838Z","updated_at":"2017-07-29T15:13:43.227Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/21","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"46762303f32a666891542af31ea5eabf"]
    status: {code: 200, message: OK}
version: 1
