interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/2/commits?per_page=100
  response:
    body: {string: '[{"id":"99f484ae167dcfcc35008ba3b5b564443d425ee0","short_id":"99f484ae","title":"yet
        another one","created_at":"2016-02-11T17:53:37.000Z","parent_ids":[],"message":"yet
        another one\n","author_name":"Lasse Schuirmann","author_email":"lasse.schuirmann@gmail.com","authored_date":"2016-02-11T17:53:37.000Z","committer_name":"Lasse
        Schuirmann","committer_email":"lasse.schuirmann@gmail.com","committed_date":"2016-02-11T17:53:37.000Z"},{"id":"bbd11b50412d34072f1889e4cea04a32de183605","short_id":"bbd11b50","title":"a
        commit","created_at":"2016-02-11T17:53:33.000Z","parent_ids":[],"message":"a
        commit\n","author_name":"Lasse Schuirmann","author_email":"lasse.schuirmann@gmail.com","authored_date":"2016-02-11T17:53:33.000Z","committer_name":"Lasse
        Schuirmann","committer_email":"lasse.schuirmann@gmail.com","committed_date":"2016-02-11T17:53:33.000Z"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"3ee01f034d1fd552857b5e3edb653225"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/2/commits?access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&id=gitmate-test-user%2Ftest&merge_request_iid=2&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/2/commits?access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&id=gitmate-test-user%2Ftest&merge_request_iid=2&page=1&per_page=100>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/2?per_page=100
  response:
    body: {string: '{"id":3757647,"iid":2,"project_id":3439658,"title":"Sils/severalcommits","description":"","state":"opened","created_at":"2017-06-07T03:51:41.112Z","updated_at":"2017-06-16T08:11:45.849Z","target_branch":"master","source_branch":"sils/severalcommits","upvotes":0,"downvotes":0,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"99f484ae167dcfcc35008ba3b5b564443d425ee0","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/2","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"95bcbb6b8bea159d0100246fff58cab1"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/sils%2Fseveralcommits?per_page=100
  response:
    body: {string: '{"id":"99f484ae167dcfcc35008ba3b5b564443d425ee0","short_id":"99f484ae","title":"yet
        another one","created_at":"2016-02-11T18:53:37.000+01:00","parent_ids":["bbd11b50412d34072f1889e4cea04a32de183605"],"message":"yet
        another one\n","author_name":"Lasse Schuirmann","author_email":"lasse.schuirmann@gmail.com","authored_date":"2016-02-11T18:53:37.000+01:00","committer_name":"Lasse
        Schuirmann","committer_email":"lasse.schuirmann@gmail.com","committed_date":"2016-02-11T18:53:37.000+01:00","stats":{"additions":0,"deletions":0,"total":0},"status":"failed"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a72e7e81788aee45eeb377eb02877e83"]
    status: {code: 200, message: OK}
- request:
    body: '{"state": "running", "target_url": "http://gitmate.io/", "description":
      "GitMate-2 analysis in progress...", "name": "review/gitmate/pr"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/statuses/99f484ae167dcfcc35008ba3b5b564443d425ee0
  response:
    body: {string: '{"id":31245661,"sha":"99f484ae167dcfcc35008ba3b5b564443d425ee0","ref":"sils/severalcommits","status":"running","name":"review/gitmate/pr","target_url":"http://gitmate.io/","description":"GitMate-2
        analysis in progress...","created_at":"2017-09-04T13:09:19.818Z","started_at":"2017-09-04T13:09:19.872Z","finished_at":null,"allow_failure":false,"coverage":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"ca2f425a7dcdff4b924bd61303f1b02e"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/master?per_page=100
  response:
    body: {string: '{"id":"515280bfe8488e1b403e0dd95c41a404355ca184","short_id":"515280bf","title":"Update
        README","created_at":"2017-07-19T14:57:58.000+00:00","parent_ids":["e3d12312ee8e4ba8e60ed009cf64fb3a1007b2c3"],"message":"Update
        README","author_name":"GitMate","author_email":"naveendarknight@gmail.com","authored_date":"2017-07-19T14:57:58.000+00:00","committer_name":"GitMate","committer_email":"naveendarknight@gmail.com","committed_date":"2017-07-19T14:57:58.000+00:00","stats":{"additions":1,"deletions":4,"total":5},"status":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f293929fdba6297d9b46c0d05c754a80"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?per_page=100
  response:
    body: {string: '{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":2,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-08-30T12:56:13.206Z","_links":{"self":"http://gitlab.com/api/v4/projects/3439658","issues":"http://gitlab.com/api/v4/projects/3439658/issues","merge_requests":"http://gitlab.com/api/v4/projects/3439658/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3439658/repository/branches","labels":"http://gitlab.com/api/v4/projects/3439658/labels","events":"http://gitlab.com/api/v4/projects/3439658/events","members":"http://gitlab.com/api/v4/projects/3439658/members"},"archived":false,"visibility":"public","owner":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1369631,"namespace":{"id":1652018,"name":"gitmate-test-user","path":"gitmate-test-user","kind":"user","full_path":"gitmate-test-user","parent_id":null,"plan":"early_adopter"},"import_status":"failed","import_error":"Mirror
        update for gitmate-test-user/test failed with the following message: The default
        branch (master) has diverged from its upstream counterpart and could not be
        updated automatically.","avatar_url":null,"open_issues_count":12,"runners_token":"mJspL93WBs-yfGkkvpos","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"5cb67e09e0619cb80f8ed1d06eeaeec4"]
    status: {code: 200, message: OK}
- request:
    body: '{"state": "failed", "target_url": "http://gitmate.io/", "description":
      "This PR has issues!", "name": "review/gitmate/pr"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/statuses/99f484ae167dcfcc35008ba3b5b564443d425ee0
  response:
    body: {string: '{"id":31245661,"sha":"99f484ae167dcfcc35008ba3b5b564443d425ee0","ref":"sils/severalcommits","status":"failed","name":"review/gitmate/pr","target_url":"http://gitmate.io/","description":"This
        PR has issues!","created_at":"2017-09-04T13:09:19.818Z","started_at":"2017-09-04T13:09:19.872Z","finished_at":"2017-09-04T13:10:03.249Z","allow_failure":false,"coverage":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"758217b95479d693159094755f12342f"]
    status: {code: 201, message: Created}
version: 1
